html,
body {
  background-color: #e27d60;
  margin: 0%;
  height: 100%;
  width: 100%;
}

.img {
  background-image: url(./background.jpg);
  height: 100%;
  width: 70%;
  margin: auto;
}

.logo {
  padding-top: 0%;
  position:fixed;
  top: 0;
  left: 69%; 
}

.title{
  padding-top: 10%;
  font-size: 30px;
  margin-bottom: 3.5%;
  font-weight: bolder;
  color: red;
}

.levels {
  margin: auto;
  width: 200px;
  padding-top: 3%;
}

button {
  /* background-color: #04aa6d; */
  /* padding: 14px 20px; */
  margin: 8px 0;
  /* border: none; */
  cursor: pointer;
  width: 100%;
  background-color: #40b3a3;
  color: black;
  border: 2px solid #41b3a3;
  border-radius: 15px;
  font-size: large;
  font-size: 40px;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;

}

button:hover {
  opacity: 0.8;
}






