html,body {
  background-color: #e8a87c;
  margin: 0%;
  height: 100%;
  width: 100%;
}

.img {
  /* background-image: url(./background.jpg); */
  background-color: #cdecff;
  height: 100%;
  width: 70%;
  margin: auto;
}

.worldmap {
  padding-top: 1%;
  text-align: center;
}

h1 {
  text-align: center;
  border: 2px solid black;
  width: 60%;
  margin: auto;
  margin-top: 1%;
}
.i {
  background-color: #faebd7;
  text-align: center;
  border: 2px solid black;
  width: 30%;
  margin: auto;
}
.rep{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 1%;
}
.solutions{  
  width: 100%;
  margin: 0 auto;
  padding:10px;
  border-radius:2px;
  font-size:35px;

}
.img1{
  margin: 0 auto;
  display:inline-block;
	width: 180px;
	height: 150px;
	-webkit-transition: -webkit-transform .33s;
	transition: transform .33s; /* Animate the transform properties */
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.imgfront,.imgback{
  border: 1px solid grey;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 150px;
  display:flex;
  align-items:center;
  text-align:center;
  span {
    width:100%;    
}
}
.imgfront{
  background: #e8a87c;
	-webkit-transform: translateZ(70px);
	transform: translateZ(70px);
}
.imgback{
  height:150px;
  background: #e8a87c;
	-webkit-transform: rotateX(-90deg) translateZ(-70px);
	transform: rotateX(-90deg) translateZ(-70px);
}
.img1:hover {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
}  
 
