html,
body {
  background-color: #e27d60;
  margin: 0%;
  height: 100%;
  width: 100%;
}

.img {
  background-image: url(./background.jpg);
  height: 100%;
  width: 70%;
  margin: auto;
}
.logo {
  position: relative;
  text-align: right;
  padding-right: 5%;
  }
  
  a {
    background-color: #41b3a3;
    color: black;
    border: 2px solid #41b3a3;
    border-radius: 10px;
    font-size: large;
    font-size: 30px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    text-decoration: none;
  }
  .btn0 {
    width:30%;
    text-align: center;
    display: block;
    margin:auto;
    margin-top: 80px; ;

  }
  .trait{
     display: block;
     text-align: center;
     margin: auto;
  }
  .country1{
      margin-left: 11%;
      padding-left: 4%;
      padding-right: 4%;
  }
  .country2{
    margin-left: 3%;
    padding-left: 4%;
    padding-right: 4%;
}
.country3{
    margin-left: 4%;
    padding-left: 4%;
    padding-right: 4%;
}
.country4{
    margin-left: 4%;
    padding-left: 4%;
    padding-right: 4%;
}
.country5{
    margin-left: 4%;
    padding-left: 4%;
    padding-right: 4%;
}

.country6{
    margin-left: 4%;
    padding-left: 4%;
    padding-right: 4%;
}
.btn0:hover {
    background-color: #86cecb;
    border: #41b3a3;
    color: white ;
    cursor: pointer;
  }