html,
body {
  background-color: #e8a87c;
  margin: 0%;
  height: 100%;
  width: 100%;
  animation: transitionIn 3s;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.img {
  /* background-image: url(./background.jpg); */
  background-color: #cdecff;
  height: 100%;
  width: 70%;
  margin: auto;
  position: relative;
  z-index: 0;
}

.worldmap {
  padding-top: 1%;
  position: relative;
  text-align: center;
  z-index: 0;
}

h1 {
  text-align: center;
  border: 2px solid black;
  width: 60%;
  margin: auto;
  margin-top: 1%;
}
.i {
  background-color: #faebd7;
  text-align: center;
  border: 2px solid black;
  width: 30%;
  margin: auto;
}

.rep {
  text-align: center;
  width: 60%;
  margin: auto;
  height: 5%;
}

.ans {
  height: 100%;
  width: 30%;
  font-size: 30px;
}

.container {
  background: #bce5ff;
  width: 77.5%;
  height: 140px;
  margin: 0 auto;
  padding: 30px;
  padding-bottom: 25px;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 15px;
  font-size: 32px;
}
.cube {
  margin: 0 auto;
  display: inline-block;
  width: 130px;
  text-align: center;
  height: 130px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 1.2s; /* Animate the transform properties */
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip,
.flop {
  border: 1px solid #85dcb8;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 130px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}
span {
  width: 100%;
}

.flip {
  background: #fcfff5;
  -webkit-transform: translateZ(70px);
  transform: translateZ(70px);
}

.flop {
  height: 130px;
  background: #f3d6c3;
  -webkit-transform: rotateX(-90deg) translateZ(-70px);
  transform: rotateX(-90deg) translateZ(-70px);
}

.correctAns {
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
}

.back {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
}

#next {
  cursor: pointer;
  float: right;
  visibility: hidden;
}
.corr {
  outline: none;
  border: 2px solid green;
  border-radius: 2px;
}
.animShake {
  animation: shake 0.5s;
  outline: none;
  border: 2px solid red;
  border-radius: 2px;
}
@keyframes shake {
  0% {
    margin-left: -10px;
  }
  20% {
    margin-left: 10px;
  }
  40% {
    margin-left: -10px;
  }
  60% {
    margin-left: 10px;
  }
  80% {
    margin-left: -10px;
  }
  100% {
    margin-left: 10px;
  }
}

lottie-player {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%;
}
