html,
body {
  background-color: #e27d60;
  margin: 0%;
  height: 100%;
  width: 100%;
}

.img {
  background-image: url(../background.jpg);
  height: 100%;
  width: 70%;
  margin: auto;
}
.logo {
  position: relative;
  text-align:center;
  padding-top: 5%;
  }

  /*.btn0, .country1, .country2, .country3, .country4, .country5, .country6{
    background-color: #41b3a3;
    color: black;
    border: 2px solid #41b3a3;
    border-radius: 10px;
    font-size: large;
    font-size: 30px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    text-decoration: none;
  }
  .btn0 {
    width:30%;
    text-align: center;
    display: block;
    margin:auto;
    margin-top: 70px; ;

  }
  .trait{
     display: block;
     text-align: center;
     margin: auto;
     margin-bottom: 2%;
  }
  .country1{
      margin-left: 3%;
      padding-left: 1%;
      padding-right: 1%;
  }
  .country2{
    margin-left: 6%;
    padding-left: 1%;
    padding-right: 1%;
}
.country3{
    margin-left: 6%;
    padding-left: 1%;
    padding-right: 1%;
}
.country4{
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
.country5{
    margin-left: 3%;
    padding-left: 1%;
    padding-right: 1%;
}

.country6{
    margin-left: 7%;
    padding-left: 1%;
    padding-right: 1%;
}
.btn0:hover {
  opacity: 0.8;
  }
.country1:hover{
    opacity: 0.8;
  }
.country2:hover{
    opacity: 0.8;
  }
.country3:hover{
    opacity: 0.8;
  }
.country4:hover{
    opacity: 0.8;
  }
.country5:hover{
    opacity: 0.8;
  }
.country6:hover{
    opacity: 0.8;
  }

  .back{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
  }*/
  .node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}